@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#051C2C;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav.collapsed {
  width: 60px;
}

.sidenav-header {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}

.sidenav-header .logo {
  width: 40px;
  height: auto;
  transition: 0.5s;
}

.sidenav.collapsed .sidenav-header .logo {
  width: 30px;
}

.sidenav-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  margin-top: auto;
  justify-content: space-between;
}

.sidenav-footer button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidenav-footer button:hover {
  color: #ddd;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
}

.sidenav ul li {
  padding: 8px 16px;
  text-align: left;
}

.sidenav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.sidenav ul li a:hover {
  background-color: #0A3550;
}

.sidenav ul li a .material-icons {
  margin-right: 16px;
}

.sidenav.collapsed ul li a .material-icons {
  margin-right: 0;
}

.sidenav.collapsed ul li a span,
.sidenav.collapsed .sidenav-header span,
.sidenav.collapsed .sidenav-footer span {
  display: none;
}

.sidenav ul li a.active {
  background-color:#0A3550;
}

.content {
  margin-left: 250px;
  padding: 16px;
  transition: margin-left 0.5s;
}

.sidenav.collapsed ~ .content {
  margin-left: 60px;
}

/* Tooltip styles */
.mat-tooltip {
  background-color: white;
  color: black;
  font-size: 12px;
}
